body {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:black;
}
svg {
    background-color: #a7a7a7;
}

a {
    font-family: Century Gothic, Segoe UI, Arial, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    text-shadow: 0.25vw 0.25vw 0.5vw #00000080;
    position: absolute;
    /* text-transform: uppercase; */
    color:white;
}
a#news, a#news_alter {
    bottom: 50vh;
    font-size: 8vh;
    user-select: none;
    cursor: pointer;
}

a#news_number {
    bottom: 45vh;
    font-size: 3vh;
}

a#button {
    bottom: 2.5%;
    font-size: 2.5vh;
    border-radius: 2px;
    color:white;
    user-select: none;
    background-color: #0a0;
    margin-left:40%;
    margin-right:40%;
    padding-top:0.5%;
    width:20%;
    height:4%;
    font-family:Roboto;
}

a#button:hover {
    cursor: pointer;
    user-select: none;
}

@media screen and (orientation:portrait) {
    #content {
        transform: translateY(50vh) scale(0.75);
    }
    a#news, a#news_alter {
        bottom: 8vh;
        font-size: 8vh;
        user-select: none;
        cursor: pointer;
    }
    a#news, a#news_alter {
        bottom: 15vh;
        font-size: 4vh;
    }
}